# Python build
__pycache__/
build/
*.egg-info/

# Environments
.env
.venv

# Logs
lightning_logs/

# Downloaded dataset
cifar10/

# VSCode settings
.vscode/

# WandB logs and runs
wandb/
.wandb/
wandb-debug.log
wandb/latest-run/

# Ignore exported models
*.ckpt
*.onnx
*.pth